@model User;
@{
    ViewData["Title"] = "Home Page";
}

@{
    if( TempData["ErrorLogin"] !=null)
   {
    <div class="alert alert-warning bordes" id="mensaje" >@TempData["ErrorLogin"]</div>
   }
}
<br>
<br>
<br>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <div class="login-card">
        <form asp-controller="Home" asp-action="Index" method="post" >
            <div class="form-group">
                <label for="username">Document </label>
                <input required="" name="_Document" id="username" type="text" asp-for="Document">
            </div>
            <div class="form-group">
                <label for="password">Password </label>
                <input required="" name="_password" id="password" type="password" asp-for="Password">
            </div>
            <button type="submit" class="btn btn-primary">Input</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <h1>Register</h1>
    br
    <div class="login-card">
        <form asp-controller="Home" asp-action="Index" method="post" >
            <div class="form-group">
                <label for="username">Document </label>
                <input required="" name="username" id="username" type="text" asp-for="Document">
            </div>
            <div class="form-group">
                <label for="password">Password </label>
                <input required="" name="password" id="password" type="password" asp-for="Password">
            </div>
            <button type="submit" class="btn btn-primary">Input</button>
        </form>
    </div>

</div>
