@model User;
@{
    ViewData["Title"] = "Home Page";
}

@{
    if( TempData["ErrorLogin"] !=null)
   {
    <div class="alert alert-danger" id="mensaje" >@TempData["ErrorLogin"]</div>
   }
}
<br>
<br>
<br>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <div class="login-card">
        <form asp-controller="Home" asp-action="Index" method="post" >
            <div class="form-group">
                <label for="username">Document </label>
                <input  name="_Document" id="username" type="text" asp-for="Document">
            </div>
            <div class="form-group">
                <label for="password">Password </label>
                <input  name="_password" id="password" type="password" asp-for="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Input</button>
            </div>
            <div class="form-group">
                <a  asp-controller="Home" asp-action="Create">Register</a>
            </div>
        </form>
    </div>
    <br>
    <br>
   

</div>
