
<br>
<br>
<div class="card_Profle">
    <div class="text-center">
        <img src=@ViewBag.Photo alt="" style="width: 250px;" class="borde">
        <br>
        <br>
        <h3> @ViewBag.Name @ViewBag.LastName</h3>   
    </div>
    <div class="" style="display: flex;" >
        <h3>Gender: @ViewBag.Gender</h3>    
    </div>
    <br>
    <div class="" style="display: flex;">
        <h3>Occupation: @ViewBag.Occupation</h3>
    </div>
    <br>
    <br>
</div>